body{
    font-family: 'Montserrat';
}

.princ{
    position: relative;
    width:100%;
   
}
.lateral{
    position: fixed;
    top: 29%;
    left: 94%;
    width: 4.5%;
    background-color: rgb(250, 250, 250);
    z-index: 600;
    border-radius: 12px;
   
}
.lat{
    color: rgb(145, 145, 145);  
    font-size: 32px;
    padding-top: 23%;
    padding-bottom: 23%;
    border-top: 1px solid rgb(202, 195, 195);  
    text-align: center;
}
.latt{
    color: rgb(145, 145, 145);  
    font-size: 32px;
    padding-top: 23%;
    padding-bottom: 23%;
    text-align: center;
}
.azul{
    position: fixed;
    top: 87%;
    left: 94%;
    padding: 2%;
    border-radius: 50%;
    border: 5px solid rgb(230, 216, 216);
    background-color: rgba(253, 253, 253, 0);
    z-index: 400;
}
.azul:hover{
    border: 5px solid rgb(19, 22, 214);
    background-color:rgb(19, 22, 214);
}

#az{
    position: fixed;
    top: 88.5%;
    left: 1609px;
    color: rgb(230, 216, 216);
    font-size: 48px;
    
}

.geral{
    color: rgb(252, 252, 252);
}
.logo{
    color:rgb(252, 252, 252);
    position:absolute;
    top:8%;
    left:4%;
    width:133px;
    height:35px;
}
.logo:hover{
    cursor:pointer;
}
.menu{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 85px;
    left: 66%;
    font-size:19px;
}
.menu:hover{
    cursor:pointer;
}
i{
    padding-right:14%;
}
i:hover{
    cursor:pointer;
}
.port{
    padding-left:15%;
}
.bu{
    position:absolute;
    top:8%;
    right:4%;
    padding-left:3%;
    padding-right:3%;
    padding-top:1.5%;
    padding-bottom:1.5%;
    background-color:rgb(0, 0, 255);
    color:rgb(252, 252, 252);
    font-size:17px;
    font-weight:bold;
    border-radius:12px;
}
.bu:hover{
    cursor:pointer;
    background-color:rgb(92, 92, 255);
}
h1{
    position:absolute;
    top:46%;
    left:40%;
    font-size:22px;
    letter-spacing:2px;
}
h2{
    position:absolute;
    top:47%;
    left:9%;
    font-size:102px;
    letter-spacing:2px;
}
h3{
    position:absolute;
    top:62%;
    left:25%;
    font-size:102px;
    letter-spacing:2px;
}


.rapaz{
    display:flex;
    justify-content:space-around;
    margin-top:12%;
    margin-left:5%;
    margin-right:4%;
}
.rap{
    width:41%;
    margin-top:20px;
}
.rapp{
    margin-top:8%;
}
.ti{
    font-size:44px;
    font-weight:bold;
    line-height:116px;
}
.tit{
    font-size:25px;
    line-height:37px;
    text-align:left;
}
.titu{
    font-size:19px;
    line-height:47px;
    margin-top:10%;
}
.rapa{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:7%;
}
.titul{
    color:rgb(0, 0, 0);
    margin-left:-16%;
    font-size:58px;
    font-weight:bold;
}
.titulo{
    color:rgb(15, 15, 209);
    margin-left:0%;
    font-size:19px;
}
.bra{
    font-size:56px;
    margin-top:10%;
    margin-bottom:8%;
    font-weight:bold;
    text-align:center;
    color:rgb(43, 43, 43);
}
.fotos{
    position:relative;
    margin-left:3%;
    margin-right:3%;
    z-index: 10;
}

.mais{
    position: absolute;
    margin-top: 0%;
    margin-left: 90%;
    font-size:47px;
    font-weight: normal;
    z-index: 4000;
    

}
.wood{
    font-size: 38px;
    font-weight: 600;
    margin-top: 121%;
    margin-left: -9%;
    z-index: 4000;
  
}
.here{
    font-size: 17px;
    font-weight: 400;
    margin-top: 4%;
    margin-left: -9%;
    z-index: 4000;
   
}
.efeito{
    position: absolute;
    margin-top:0%;
    left: 0%;
    color: rgba(255, 255, 255, 0);
    width: 32%;
    padding-bottom: 22.2%;
    text-align: center;
    z-index: 3000;
    
}
.mais{
    position: absolute;
    margin-top: 0%;
    margin-left: 90%;
    font-size:47px;
    font-weight: normal;
    z-index: 4000;
    

}
.wood{
    font-size: 38px;
    font-weight: 600;
    margin-top: 121%;
    margin-left: -9%;
    z-index: 4000;
  
}
.here{
    font-size: 17px;
    font-weight: 400;
    margin-top: 4%;
    margin-left: -9%;
    z-index: 4000;
   
}
.efeito1{
    position: absolute;
    margin-top:0%;
    left: 34%;
    color: rgba(255, 255, 255, 0);
    width: 32%;
    padding-bottom: 6.6%;
    text-align: center;
    z-index: 3000;
    
}
.mais1{
    position: absolute;
    margin-top: 0%;
    margin-left: 90%;
    font-size:47px;
    font-weight: normal;
    z-index: 4000;
    

}
.wood1{
    font-size: 38px;
    font-weight: 600;
    margin-top: 66%;
    margin-left: -9%;
    z-index: 4000;
  
}
.here1{
    font-size: 17px;
    font-weight: 400;
    margin-top: 4%;
    margin-left: -9%;
    z-index: 4000;
   
}
.efeito2{
    position: absolute;
    margin-top:0%;
    left: 68%;
    color: rgba(255, 255, 255, 0);
    width: 32%;
    padding-bottom: 23.5%;
    text-align: center;
    z-index: 3000;
    
}
.mais2{
    position: absolute;
    margin-top: 0%;
    margin-left: 90%;
    font-size:47px;
    font-weight: normal;
    z-index: 4000;
    

}
.wood2{
    font-size: 38px;
    font-weight: 600;
    margin-top: 65%;
    margin-left: -9%;
    z-index: 4000;
  
}
.here2{
    font-size: 17px;
    font-weight: 400;
    margin-top: 4%;
    margin-left: -9%;
    z-index: 4000;
   
}
.efeito3{
    position: absolute;
    margin-top: 34%;
    left: 34%;
    color: rgba(255, 255, 255, 0);
    width: 32%;
    padding-bottom: 12%;
    text-align: center;
    z-index: 3000;
    
}
.mais3{
    position: absolute;
    margin-top: 0%;
    margin-left: 90%;
    font-size:47px;
    font-weight: normal;
    z-index: 4000;
    

}
.wood3{
    font-size: 38px;
    font-weight: 600;
    margin-top: 101%;
    margin-left: -9%;
    z-index: 4000;
  
}
.here3{
    font-size: 17px;
    font-weight: 400;
    margin-top: 4%;
    margin-left: -9%;
    z-index: 4000;
   
}
.efeito4{
    position: absolute;
    margin-top:67%;
    left: 0%;
    color: rgba(255, 255, 255, 0);
    width: 32%;
    padding-bottom: 6%;
    text-align: center;
    z-index: 3000;
    
}
.mais4{
    position: absolute;
    margin-top: 0%;
    margin-left: 90%;
    font-size:47px;
    font-weight: normal;
    z-index: 4000;
    

}
.wood4{
    font-size: 38px;
    font-weight: 600;
    margin-top: 121%;
    margin-left: -9%;
    z-index: 4000;
  
}
.here4{
    font-size: 17px;
    font-weight: 400;
    margin-top: 4%;
    margin-left: -9%;
    z-index: 4000;
   
}
.efeito5{
    position: absolute;
    margin-top:84.6%;
    left: 34%;
    width: 32%;
    padding-bottom: 13%;
    text-align: center;
    z-index: 3000;
    color: rgba(255, 255, 255, 0);
    
}
.mais5{
    position: absolute;
    margin-top: 0%;
    margin-left: 90%;
    font-size:47px;
    font-weight: normal;
    z-index: 4000;
    

}
.wood5{
    font-size: 38px;
    font-weight: 600;
    margin-top: 44%;
    margin-left: -9%;
    z-index: 4000;
  
}
.here5{
    font-size: 17px;
    font-weight: 400;
    margin-top: 4%;
    margin-left: -9%;
    z-index: 4000;
   
}
.efeito6{
    position: absolute;
    margin-top: 50.5%;
    left: 68%;
    width: 32%;
    padding-bottom: 22.5%;
    text-align: center;
    z-index: 3000;
    color: rgba(255, 255, 255, 0);
    
}
.mais6{
    position: absolute;
    margin-top: 0%;
    margin-left: 90%;
    font-size:47px;
    font-weight: normal;
    z-index: 4000;
    

}
.wood6{
    font-size: 38px;
    font-weight: 600;
    margin-top: 121%;
    margin-left: -9%;
    z-index: 4000;
  
}
.here6{
    font-size: 17px;
    font-weight: 400;
    margin-top: 4%;
    margin-left: -9%;  
    z-index: 4000;
   
}
.efeito:hover,.efeito1:hover,.efeito2:hover,.efeito3:hover,.efeito4:hover,.efeito5:hover,.efeito6:hover{
    background-color: rgba(0, 0, 0, 0.308);
    color: rgb(255, 255, 255);
}
.cas{
    width:32%;
    position:absolute;
    left:0%;
    z-index: 10;
}
.arq{
    width:32%;
    position:absolute;
    left:34%;
    z-index: 10;
}
.eve{
    width:32%;
    position:absolute;
    left:68%;
    z-index: 10;
}
.mods{
    width:32%;
    position:absolute;
    left:34%;
    margin-top:34%;
    top:0%;
    z-index: 10;
}
.fam{
    width:32%;
    position:absolute;
    margin-top:67%;
    z-index: 10;
}
.mat{
    width:32%;
    position:absolute;
    left:34%;
    margin-top:84.7%;
    z-index: 10
}
.mod{
    width:32%;
    position:absolute;
    left:68%;
    right:0%;
    margin-top:50.5%;
    z-index: 10;
}
.cas:hover,.arq:hover,.eve:hover,.mods:hover,.fam:hover,.mat:hover,.mod:hover{
    cursor:pointer;
    /* transform: scale(1.1); */
      
}
.butt{
    position:absolute;
    left:42%;
    margin-top:129%;
    margin-bottom:10%;
    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    background-color:rgb(0, 0, 255);
    color:rgb(252, 252, 252);
    font-size:17px;
    font-weight:bold;
    border-radius:12px;
}
.butt:hover{
    cursor:pointer;
}
.rodape{
    background-color:rgb(0, 0, 0);
    margin-top:145%;
    padding-top:10%;
    padding-bottom:10%;
    position:relative;
}
.tex{
    color:rgb(252, 252, 252);
    font-size:46px;
    margin-left:7%;
    margin-bottom:6%;
    font-weight:bold;
}
.hire{
    position:absolute;
    top:17%;
    left:80%;
    background-color:rgba(15, 15, 15, 0);
    border:4px solid hsl(0, 2%, 40%);
    border-radius: 12px;
    color:rgb(252, 252, 252);  
    font-size:21px;
    font-weight:bold;
    padding-left:4%;
    padding-right:4%;
    padding-top:2%;
    padding-bottom:2%;
}
.hire:hover{
    cursor: pointer;
}
.inst{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 7%;
    margin-right: 7%;
}
.inst1,.inst2,.inst3,.inst4,.inst5,.inst6{
    width: 16%;
    
}
.tagra1{
    position: absolute;
    left: 0.3%;
    padding-left: 2%;
    padding-bottom: 6.4%;
    padding-top: 7%;
    width: 14%;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 34px;

}
.tagra2{
    position: absolute;
    left: 17%;
    padding-left: 2%;
    padding-bottom: 6.4%;
    padding-top: 7%;
    width: 14%;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 34px;

}
.tagra3{
    position: absolute;
    left: 33.4%;
    padding-left: 2%;
    padding-bottom: 6.4%;
    padding-top: 7%;
    width: 14.3%;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 34px;

}
.tagra4{
    position: absolute;
    left: 50.4%;
    padding-left: 2%;
    padding-bottom: 6.4%;
    padding-top: 7%;
    width: 14%;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 34px;

}
.tagra5{
    position: absolute;
    left: 67%;
    padding-left: 2%;
    padding-bottom: 6.4%;
    padding-top: 7%;
    width: 14%;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 34px;

}
.tagra6{
    position: absolute;
    left: 83.4%;
    padding-left: 2%;
    padding-bottom: 6.4%;
    padding-top: 7%;
    width: 14%;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 34px;

}

.tagra1:hover,.tagra2:hover,.tagra3:hover,.tagra4:hover,.tagra5:hover,.tagra6:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.425);
     
}
.fim{
    color: rgb(252, 252, 252);  
    font-size: 14px;
    position:absolute;
    top: 88%;
    left: 7%;
}
.fimm{
    display:flex;
    flex-direction:row;
    color: rgb(252, 252, 252);  
    font-size: 23px;
    position:absolute;
    top: 87%;
    left: 76%;
}
#a,#b,#c,#d{
    padding-left: 52%;
}
